<style type="text/css">
  ::-webkit-scrollbar {
    display: none;
  }

  #global {
    height: 500px;
    width: 100%;
    border: 1px solid rgb(55, 54, 54);
    background: #3b3a3a;
    overflow-y: scroll;
    border-radius: 10px;
  }

  #mensajes {
    height: auto;
  }

  .texto {
    padding: 4px;
    background: rgb(31, 30, 30);
  }
</style>

<div id="global" class="bg-dark">
  <div id="mensajes">
    <div class="container text-center mx-auto bg-dark rounded m-3 texto">

      <h1 class="text-white"> Consumir Api rest </h1>
    
      <div class="form-floating mb-3 text-dark mt-2">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="limit"
          (keydown.enter)="fethcUsers()">
        <label for="floatingInput">Ingresa cantidad de perfiles</label>
      </div>
    
    
      <ul class="mb-3" style="list-style-type: none;">
        <li *ngFor="let user of users">
          <div>
            <img class="mx-auto rounded" [src]="user.picture.large" alt="">
          </div>
          <div class="m-3 h5 text-white">
            {{user.email}}
          </div>
        </li>
      </ul>
    
    </div>
  </div>
</div>

