<div class="todo">
  <hr>
  <div class="container text-center">
    <p class="h4">{{todo.title}}</p>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="todo.completed">
      <label class="form-check-label" for="flexCheckDefault">
      </label>
    </div>
    <button class="btn btn-danger m-2" (click)="deleteTodo()">Eliminar</button>
    <button class="btn btn-success m-2" (click)="updateTodo()">Actualizar</button>
  </div>

</div>