<!-- <div data-aos="fade-up-left">
    <h1>Productos</h1>


    <div class="container">
      <div class="row">
        <div class="col-md">
          <app-product-lst></app-product-lst>
        </div>
        <div class="col-md">
          <app-product-lst></app-product-lst>
        </div>
        <div class="col-md">
          <app-product-lst></app-product-lst>
        </div>
      </div>
    </div>

    <hr>
  </div>

  <div data-aos="fade-down-right">
    <app-list></app-list>
  </div>

</div>

<div class="container bg-dark text-white rounded">
  <div class="row">
    <div class="col-sm-6">
      <app-user-list></app-user-list>
    </div>
    <div class="col-sm-6"> -->
    <!-- </div>
  </div>

</div> -->

