<!-- <h1>hola {{title}}</h1>



  <button (click)="changeTitle()">cambiar</button>
 <input type="text" [(ngModel)] = "rockbanName" (keydown.enter)="addRockBand()">{{rockbanName}}
 <button (click)="addRockBand()">add</button>
 <button (click)="empty()">delete</button>



 <ul>
  <li  *ngIf="rockbans.length ==0" >empty</li>
  <li *ngFor="let rock of  rockbans; index as i">
    {{rock}} {{i}}
    <button (click)="deleteItem(i)" >delete</button>
    <button (click)="updateItem(i)" >update</button>
  </li>
  
</ul> -->

<!-- <div *ngIf="rockbanName=='nicolas'">
es nicolas
</div>
<div *ngIf="rockbanName=='julian'">
  es julian
</div>

<div *ngIf="rockbanName=='camilo'">
  es camilo
</div> -->
<!-- <div [ngSwitch]="rockbanName">
  <p *ngSwitchCase="'nicolas'">es nicolas</p>
  <p *ngSwitchCase="'julian'">es julian</p>
   <p *ngSwitchCase="'camilo'">es camilo</p>
   <p *ngSwitchDefault>n6 hace macht</p>
</div>  -->

<!-- variable iteradora  -->
<!-- <ul>
  <li *ngFor="let user of users">
    Nombre:{{user.name}}
    Edad: {{user.age}}
    Solters:{{user.isSingle}}
   Avatar: <img [src]="user.avatar" alt="" width="100">
  </li>
</ul>


<app-product-lst></app-product-lst> -->

<app-list></app-list>