<div class="container text-center">
  <form novalidate [formGroup]="form" (ngSubmit)="createProduct()">
    <div class="form-floating m-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
        formControlName="title">
      <label for="floatingInput">Titulo</label>
    </div>
    <div *ngIf="titleField.errors && form.get('title').dirty">
      <p *ngIf="titleField.hasError('required')">el campo es obligatorio</p>
    </div>
    <div class="form-floating m-3">
      <input type="file" class="form-control" id="floatingPassword" placeholder="Password" formControlName="image">
      <label for="floatingPassword">Imagen</label>
    </div>
    <div class="form-floating m-3">
      <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="price">
      <label for="floatingInput">Precio</label>
    </div>
    <div class="form-floating m-3">
      <input type="text" class="form-control" id="floatingPassword" placeholder="Password" formControlName="text">
      <label for="floatingPassword">Descripción</label>
    </div>
    <!-- <button class="btn btn-success" >Crear producto</button> -->
    <a class="btn btn-success" href="/products">Crear producto</a><!--routerLink="['/products/']"-->
  </form>
</div>