<div class="card text-dark m-3" data-aos="fade-up">
  <div class="card-body">
    <h5 class="card-title">{{product.title | uppercase | reverse}}</h5>
    <img [src]="product.image" alt="" width="200">
    <p class="h3">{{product.price | currency}}</p>
    <p class="card-text">{{product.text |slice:0:15}}</p>
    <p>{{ today | date:'yyyy.MM.dd'}}</p>
    <p>{{ today | dateFormat:'PPPPpppp'}}</p>
    <p>{{ today | dateFormat:'yyyy'}}</p>
    <button type="button" class="btn btn-success mx-2" (click)="viewDetail()">vel en detalle</button>
    <a [routerLink]="['/products',product.id]">ver detalle con routerLink</a>
  </div>
</div>